<!DOCTYPE html>
<html lang="en" xml:ng="http://angularjs.org" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Built in directives</title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="SimpleController">
    <button ng-click="toggle()">{{isShown ? 'Hide' : 'Show'}}</button>
    <ul ng-if="isShown">
        <li ng-repeat="person in people"><span ng-bind="person" ng-class="'red'"></span></li>
    </ul>
</body>
</html>