<!DOCTYPE html>
<html lang="en" xml:ng="http://angularjs.org" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Controller as</title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="controlleras.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div ng-controller="SimpleController as ctrl" ng-class="'father'">
    Root value: <input type="text" ng-model="ctrl.foo"/>
        <div ng-controller="ChildController as chld" ng-class="'child'">
            Child value:<input type="text" ng-model="ctrl.foo"/>
        </div>
    </div>
</body>
</html>