<!DOCTYPE html>
<html lang="en" xml:ng="http://angularjs.org" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Automatic bootstrapping</title>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="value.js"></script>
    <script src="factory.js"></script>
    <script src="provider.js"></script>
    <script src="service.js"></script>

    <script src="app.js"></script>
</head>
<body ng-controller="SimpleController">
<input type="text" ng-model="userId"><button ng-click="call()">Get User</button>
<div>
    {{result}}
</div>
</body>
</html>